#episodios {
   height: calc(100% - 7.5em);
   max-height: calc(100% - 7.5em);
   margin-top: 0.7em;
   overflow-y: scroll;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

/* width */

#episodios::-webkit-scrollbar {
   width: 10px;
}

/* Track */

#episodios::-webkit-scrollbar-track {
   display: none;
}

/* Handle */

#episodios::-webkit-scrollbar-thumb {
   background: rgb(177, 176, 176);
   border-radius: 1em;
}

/* Handle on hover */

#episodios::-webkit-scrollbar-thumb:hover {
   background: #555;
}

.nuevo {
   margin-top: 1em;
   margin-bottom: 1em;
   align-self: flex-start;
}

.contenido {
   max-height: 85vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}